[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "ack.git"]
	path = ack.git
	url = https://github.com/petdance/ack.git
[submodule ".emacs.d/el-get/el-get.git"]
	path = .emacs.d/el-get/el-get.git
	url = https://github.com/dimitri/el-get.git
