.*.local
.atom/.apm/
.atom/.tags
.atom/nohup.out
.atom/packages/
.atom/projects.cson
.emacs.d/.session*
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/el-get
.emacs.d/semanticdb/
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/url/
.git-shell-scripts.git
.gnupg/*.gpg
.mutt/cache
.mutt/mailboxes
.vim/.netrwhist
.vim/bundle/
.zsh/cache
*.elc
*.o
*.pyc
*.swp
*~
Library/
python.d/
