"*":
  "atom-beautify":
    _analyticsUserId: "d2e07005-7599-4714-8f3f-a15678f2cf44"
    js_indent_size: 4
    js_space_after_anon_function: true
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
    ]
    autoBuildTagsWhenActive: true
  "atom-material-ui":
    accentColor: "Orange"
    compactTreeView: true
    depth: true
    rippleAccentColor: true
    showTabIcons: "Show on all tabs"
  "atom-minify": {}
  "atom-typescript":
    showSemanticView: true
  "autoclose-html": {}
  build: {}
  "close-tags": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "symbols-view"
      "csslint"
      "markdown-preview"
      "atom-ctags"
    ]
    packagesWithKeymapsDisabled: [
      "atom-minify"
    ]
    projectHome: "/Users/phil/dev"
    themes: [
      "atom-dark-ui-slim"
      "atom-dark-syntax"
    ]
  csscomb:
    spaceAfterOpeningBrace: " "
  csslint:
    hideOnNoErrors: true
    useFoldModeAsDefault: true
  deprecated:
    tool:
      gulp: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "9654b360-7c9b-1df3-72b2-fcb94d0b6241"
  "file-icons":
    coloured: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "isotope-light-ui":
    backgroundGradient: true
    customBackgroundColor: "false"
    fontFamily: "Roboto"
    fontWeight: "Regular"
  linter:
    errorPanelHeight: 46
    showErrorPanel: false
  "linter-eslint": {}
  "markdown-preview-plus": {}
  minimap:
    absoluteMode: true
  "one-light-ui":
    layoutMode: "Compact"
  pigments: {}
  "spell-check": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
".source.ts.tsx":
  editor:
    tabLength: 2
".source.ts":
  editor:
    softWrap: true
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
